body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}
h2  {
	color: navy;

}
h3  {
	color: black;

}
h4  {
	color: navy;

}
h5  {
	color: navy;

}
